page-expired {

            background-color: rgba(0, 0, 0, 0.7);
            ion-content.content{
                top: 15%;
                left: 10%;
                // padding: 10px;
                position: fixed;
                width: 80%;
                height: 25%;
                border-radius: 20px;
                .scroll-content {
                    border-radius: 20px;
                }
            }
        
        .close-button {
            position: absolute;
            
            /* don't need to go crazy with z-index here, just sits over .modal-guts */
            z-index: 1;
            
            top: 0px;
            
            /* needs to look OK with or without scrollbar */
            right: 0;
            border: 0;
            // background: black;
            // color: white;
            // padding: 5px 10px;
            padding: 5px 2px;
            font-size: 3rem;
          }

          ion-input {
            border: 1px solid gray;
            padding: 3px;
          }

        .text-input-ios,
        .text-input-md {
            // margin: 11px 8px 11px 0; 
            margin: 0; 
            padding: 0;
            width: calc(100% - 8px);
            // border: 1px solid gray;
        }

        ion-row{
            padding-bottom: 5px;
        }
    
}